.medecins-container {
  padding: 50px 200px;
}

.add-button {
  background-color: rgb(255, 47, 47);
  color: white;
  padding: 20px 30px;
  font-size: 2em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.medecins-add-container {
  padding:30px 20%;
  height: 80vh;
  font-family: 'Poppins', sans-serif;
}

.medecins-add-form {
  display: flex;
  flex-direction: column;
}

.medecins-add-form input{
  padding:10px;
  border: 2px solid black;
  border-radius: 4px;
}